@import "consts";

*
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
}

.container-wrapper
{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__logo
{
    padding: 40px 0;
    width: 141px;
}

.header-menu
{
    list-style-type: none;

    &__text
    {
        font: 500 15.6px/1.2 $source-sans;
        color: $white;
        text-transform: uppercase;
        transition: 0.3s;
        text-decoration: none;
    }

    &__item
    {
        transition: 0.3s;
        margin-right: 25px;
        cursor: pointer;
        float: left;

        &:last-child
        {
            margin-right: 0;
        }

        &:after
        {
            content: '';
            display: inline-block;
            color: $bino-red;
            border-bottom: 1px solid transparent;
            width: 100%;
            transition: 0.5s;
        }

        &:hover
        {
            color: $bino-red;
            text-decoration: none;

            .header-menu__text
            {
                color: $bino-red;
                text-decoration: none;
            }

            &:after
            {
                border-bottom: 1px solid $bino-red;
            }
        }
    }
}

.carousel
{
    max-width: 100%;
    margin: auto;
}

.navbar
{
    &-toggler
    {
        outline: none;
    }

    &-mobile
    {
        position: absolute;
        top: -70px;
        width: 100%;
        z-index: 15;
    }
}

.bg-bino
{
    //background: $bibo-bg;
    background: url(../images/bino/background-top.png) center 0 no-repeat;
    width: 100%;
    background-size: cover;
}

.title
{
    font: 700 36px/1.2 $source-sans;
    text-transform: uppercase;
    letter-spacing: 3.6px;

    &_dark
    {
        color: $bino-grey-dark;
    }

    &_white
    {
        color: $bino-white;
    }

    &_border-left,
    &_border-right
    {
        padding-left: 35px;
        position: relative;
        margin-top: -4px;

        &:before
        {
            content: '';
            display: inline-block;
            width: 6px;
            height: 36px;
            background-color: $bino-red;
            position: absolute;
            left: 0;
            top: 4px;
        }
    }
}

.text
{
    font: 400 15.6px/1.2 $source-sans;
    color: $white;

    &__uppercase
    {
        text-transform: uppercase;
    }
}

.top
{
    background: url(../images/bino/background-top.png) center 0 no-repeat;
    width: 100%;
    background-size: cover;
    height: 860px;
    position: relative;
    text-align: center;
}

.top-content
{
    text-align: center;
    margin-top: 70px;
    padding-top: 130px;

    &__inscription
    {
        font: 19px/1.2 $source-sans;
        letter-spacing: 1.2px;
        color: $bino-white;
    }
    &__title
    {
        font: 700 45px/1.2 $open-sans;
        letter-spacing: 7.2px;
        color: $bino-white;
        margin: 25px 0 1px 10px;
        text-transform: uppercase;
    }

    &__text
    {
        font: 400 12px/1.714 $open-sans;
        color: $bino-white-dark;
        margin: auto;
    }

    &__button-block
    {
        margin-top: 50px;
    }
}

.decoration
{
    display: block;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: $bino-red;
    position: relative;
    margin: 32px auto;

    &:before,
    &:after
    {
        content: '';
        border-bottom: 1px solid $bino-white-dark;
        width: 80px;
        height: 3px;
        position: absolute;
    }

    &:before
    {
        left: 22px;
    }

    &:after
    {
        right: 21px;
    }
}

.clear
{
    clear: both;
}


.button
{
    width: 225px;
    padding: 20px 0;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid $bino-white-dark;
    font: 700 14px/14px $open-sans;
    color: $white;
    text-transform: uppercase;
    transition: 0.3s;
    text-align: center;
    display: inline-block;

    &:hover
    {
        background-color: $bino-red;
        transition: 0.3s;
        border: 1px solid $bino-red;
    }

    &:focus
    {
        outline: 1px transparent;
    }

    &_offset
    {
        margin-bottom: 30px;
    }

    &_transparent
    {
        background-color: transparent;
    }

    &_red
    {
        background-color: $bino-red;
        border: 1px solid $bino-red;
        transition: 0.3s;

        &:hover
        {
            background-color: $bino-red-dark;
            border: 1px solid $bino-red-dark;
        }
    }

    &_shadow
    {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    }

}

.button:not([href]):not([tabindex])
{
    color: $white;

    &:hover,
    &:focus
    {
        color: $white;
    }
}

.anchor
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -33px;
}

.arrow
{
    content: '';
    width: 45px;
    height: 45px;
    top: 44%;
    cursor: pointer;
    position: absolute;
    z-index: 10;

    &_left
    {
        background: url("../images/bino/left-arrow.png") no-repeat;
        left: 10px;

        &:hover
        {
            transform: rotate(180deg);
        }
    }

    &_right
    {
        background: url("../images/bino/left-arrow.png") no-repeat;
        transform: rotate(180deg);
        right: 10px;

        &:hover
        {
            transform: rotate(0deg);
        }
    }

    &:hover
    {
        background: url("../images/bino/right-arrow.png") no-repeat;
    }
}

.features
{
    margin-top: 125px;
    text-align: center;
}

.feature-item
{
    cursor: pointer;
    position: relative;
    margin-bottom: 94px;

    &:hover
    {
        .feature-item__title
        {
            color: $bino-red;
        }

        .feature-item__image
        {
            transform: rotate(45deg);
            border-color: $bino-red;
            transition-duration: .3s;
        }
    }

    &__text-block
    {
        margin-top: 23px;
        padding: 0 15px 0 15px;
    }

    &__title
    {
        font: 700 18px/1.2 $open-sans;
        letter-spacing: 1.6px;
        color: $bino-grey-dark;
        text-transform: uppercase;
        position: relative;

        &:after
        {
            border-bottom: 0.5px solid $bino-grey-dark;
            display: inline-block;
            content: "";
            width: 40px;
            height: 1px;
            background-color: $bino-grey-dark;
            position: absolute;
            top: 50px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    &__image
    {
        width: 70px;
        height: 70px;
        display: inline-block;
        border: 1px solid $bino-white-dark;
        border-radius: 1px;
        transition-duration: .3s;
    }

    &__icon
    {
        width: 70px;
        height: 71px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;

        &_clean-code
        {
            background: url("../images/bino/icon/clean-code.png") no-repeat center;
        }
        &_creative-ideas
        {
            background: url("../images/bino/icon/creative-ideas.png") no-repeat center;
        }
        &_free-support
        {
            background: url("../images/bino/icon/free-support.png") no-repeat center;
        }
        &_sleek-design
        {
            background: url("../images/bino/icon/sleek-design.png") no-repeat center;
        }
    }

    &__text
    {
        font: 300 12px/1.667 $source-sans;
        color: $bino-grey;
        letter-spacing: 0.6px;
        margin-top: 28px;
    }
}

.our-history
{
    margin-top: 140px;

    &__image
    {
        max-width: 100%;
        margin-bottom: 55px;
    }

    &__text-block
    {
        margin-bottom: 147px;
    }

    &__text
    {
        font: 400 14px/2.1 $source-sans;
        letter-spacing: 0.17px;
        color: $bino-grey;
        text-align: left;
        margin-bottom: 30px;
    }

    &__title
    {
        margin-bottom: 37px;
        text-align: left;
    }

    &__button
    {
        float: left;
        margin-top: 11px;
    }
}

.our-services
{
    background-color: $bino-black;
    padding-top: 95px;
    padding-bottom: 0;

    .web-design:after
    {
        background: url("../images/bino/icon/web-design.png") no-repeat;
    }

    .print-design:after
    {
        background: url("../images/bino/icon/print-design.png") no-repeat;
    }

    .photography:after
    {
        background: url("../images/bino/icon/photography.png") no-repeat;
    }

    &__item
    {
        position: relative;
        margin-bottom: 55px;
        margin-top: 130px;

        &:after
        {
            position: absolute;
            content: '';
            display: inline-block;
            width: 80px;
            height: 80px;
            top: -90px;
            left: 0;
            margin: auto;
        }
    }

    &__item-title
    {
        font: 18px/1.611 $open-sans;
        color: $bino-red;
        text-transform: uppercase;
        margin-bottom: 4px;
    }

    &__item-text
    {
        font: 400 14px/2.071 $source-sans;
        color: $bino-grey;
        letter-spacing: 0.22px;
    }

    &__button
    {
        float: left;
        margin-top: 0;
    }

    &__title
    {
        &:after
        {
            right: 100px;
        }
    }

}

.recent-works
{
    padding-top: 130px;

    &__text
    {
        font: 400 15px/2.2 $source-sans;
        letter-spacing: 0.5px;
        color: $bino-grey;
        margin-bottom: -10px;
    }

    &__images
    {
        float: left;
        padding: 0;
        margin: 0;
    }

    &__image
    {
        width: 100%;
    }

    &-images
    {
        &:first-child
        {
            margin-top: 8px;
        }
    }
}

.works-list
{
    list-style-type: none;
    display: inline-block;

    &__item
    {
        float: none;
        margin-bottom: 5px;

        &-link
        {
            transition: 0.3s;
            color: $bino-grey-dark;
            text-decoration: none;
            font: 400 14px $open-sans;
            text-transform: uppercase;

            &:hover
            {
                text-decoration: none;
                color: $bino-red;
            }
        }
    }
}

.case-study
{
    background-color: $background-white-blue;
    padding-bottom: 150px;

    &__offset
    {
        padding-top: 140px;
        padding-bottom: 28px;
    }

    &__slider
    {
        display: inline-block;
        text-align: center;
        background-color: $white;
        padding: 80px 60px 115px 60px;
        max-width: 665px;
    }

    &__icon
    {
        margin-bottom: 51px;
    }

    &__title
    {
        font: 700 18px/1.2 $open-sans;
        letter-spacing: 1.6px;
        color: $bino-grey-dark;
        text-transform: uppercase;
        position: relative;

        &:after
        {
            border-bottom: 0.5px solid $bino-grey-dark;
            display: inline-block;
            content: "";
            width: 40px;
            height: 1px;
            background-color: $bino-grey-dark;
            position: absolute;
            top: 75px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    &__text
    {
        font: 300 14px/24px $source-sans;
        letter-spacing: 1px;
        color: $bino-grey;
        margin-bottom: 42px;
        margin-top: 50px;
    }

    &__button
    {
        width: 145px;
        padding: 15px 0;
    }
}

.outline
{
    border-bottom: 1px solid $bino-white-dark;
    width: 100%;
}

@media screen and (min-width: 451px)
{
    .top-content
    {
        &__inscription
        {
            font-size: 25px;
        }
        &__title
        {
            font-size: 60px;
        }

        &__text
        {
            font-size: 14px;
        }
    }
}

@media screen and (min-width: 532px)
{
    .header-menu__item
    {
        margin-right: 35px;
    }

    .works-list
    {
        &__item
        {
            float: left;
            margin-bottom: 0;

            &:last-child
            {
                margin: 17px 0;

                &:after
                {
                    content: none;
                }
            }

            &:after
            {
                content: '/';
                display: inline-block;
                margin: 20px 14.3px;
                font: 400 14px "Open Sans", sans-serif;
                color: $bino-red;
            }
        }
    }

    .works-list
    {
        &__item
        {
            &:last-child
            {
                margin: 17px 0;
            }

            &:after
            {
                margin: 20px 14.3px;
            }
        }
    }
}

@media screen and (min-width: 586px)
{
    .button_offset
    {
        margin-right: 27px;
        margin-bottom: 0;
    }

    .our-services__item
    {
        margin-bottom: 100px;
        margin-top: 60px;
        padding-left: 115px;

        &:after
        {
            top: 8px;
            left: 0;
        }
    }
}

@media screen and (min-width: 768px)
{
    .arrow_left
    {
        left: 41px;
    }

    .arrow_right
    {
        right: 41px;
    }

    .top-content
    {
        margin-top: 130px;
        padding-top: 0;
    }
}

@media screen and (min-width: 992px)
{
    .title_border-right
    {
        padding-right: 32px;
        position: relative;
        margin-top: -7px;
        
        &:before
        {
            content: none;
        }

        &:after
        {
            content: '';
            display: inline-block;
            width: 6px;
            height: 36px;
            background-color: $bino-red;
            position: absolute;
            right: 0;
            top: 5px;
        }
    }

    .header__menu
    {
        padding-top: 52px;
    }

    .top-content
    {
        &__inscription
        {
            font-size: 24px;
        }
        &__title
        {
            font-size: 72px;
        }

        &__text
        {
            width: 600px;
            font-size: 14px;
        }

        &__button-block
        {
            margin-top: 67px;
        }
    }

    .our-history
    {
        &__image
        {
            width: 506px;
        }
    }

    .our-services
    {
        background: $bino-black url("../images/bino/our-service-background.png") no-repeat;
        background-position: right;
        background-size: 45.65% 100%;

        &__container
        {
            width: 54.35%;
            padding: 0 60px 60px 60px;
        }

        &__items
        {
            width: 100%;
            float: right;
            margin-right: 8px;
        }

        &__item:after
        {
            left: auto;
            right: -123px;
            top: 13px;
        }

        &__item
        {
            text-align: right;
            margin-top: 0;
            padding-left: 0;
            margin-bottom: 55px;
        }

        &__title
        {
            text-align: right;
            margin-right: 7px;
            margin-bottom: 62px;

            &:after
            {
                right: 0;
            }
        }
    }

    .works-list
    {
        &__item
        {
            &:last-child
            {
                margin: 20px 0;
            }

            &:after
            {
                margin: 24px 18.3px;
            }
        }
    }

    .case-study
    {
        position: relative;
        &__slider
        {
            position: absolute;
            z-index: 10;
            bottom: 198px;
        }

        &__background
        {
            padding-left: 0;
            margin-left: 39%;
        }
    }

}

@media screen and (min-width: 1200px)
{
    .our-services
    {
        padding-top: 152px;
        padding-bottom: 24px;

        &__items
        {

            width: 65%;
        }
    }

    .container
    {
        max-width: 1200px;
    }

    .our-history__text-block
    {
        padding-left: 0;
    }

    .header-menu__item
    {
        margin-right: 59px;
    }

    .top-content
    {
        margin-top: 189px;
    }

    .case-study
    {
        &__background
        {
            margin-left: 50%;
        }
    }
}




