@import "consts";

*
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
}

.header
{
    &__logo
    {
        padding: 20px 0;
        width: 141px;
    }

    &__menu
    {
        padding-top: 35px;
    }
}

.header-menu
{
    list-style-type: none;

    &__text
    {
        font: 500 15.6px/1.2 $source-sans;
        color: $white;
        text-transform: uppercase;
        transition: 0.3s;
        text-decoration: none;
    }

    &__item
    {
        transition: 0.3s;
        margin-right: 59px;
        cursor: pointer;
        float: left;

        &:last-child
        {
            margin-right: 0;
        }

        &:after
        {
            content: '';
            display: inline-block;
            color: $bino-red;
            border-bottom: 1px solid transparent;
            width: 100%;
            transition: 0.5s;
        }

        &:hover
        {
            color: $bino-red;
            text-decoration: none;

            .header-menu__text
            {
                color: $bino-red;
                text-decoration: none;
            }

            &:after
            {
                border-bottom: 1px solid $bino-red;
            }
        }
    }
}

.title
{
    font: 700 36px/1.2 $source-sans;
}

.border-red
 {
     &_left
     {
         border-left: 5px solid $bino-red;
         padding-left: 30px;
     }

     &_right
     {
         border-right: 5px solid $bino-red;
         padding-right: 30px;
     }
 }

.text
{
    font: 400 15.6px/1.2 $source-sans;
    color: $white;

    &__uppercase
    {
        text-transform: uppercase;
    }
}

.top
{
    background: url(../images/bino/background-top.png) center 0 no-repeat;
    width: 100%;
    background-size: cover;
    height: 990px;
    position: relative;
    text-align: center;
}

.top-content
{
    text-align: center;
    margin-top: 195px;

    &__inscription
    {
        font: 24px/1.2 $source-sans;
        letter-spacing: 1.2px;
        color: $bino-white;
    }
    &__title
    {
        font: 700 72px/1.2 $open-sans;
        letter-spacing: 7.2px;
        color: $bino-white;
        margin: 50px 0 45px;
        text-transform: uppercase;
    }

    &__text
    {
        font: 400 14px/1.714 $open-sans;
        color: $bino-white-dark;
        width: 600px;
        margin: auto;
    }
}

.decoration
{
    display: inline-block;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: $bino-red;
    position: relative;

    &:before,
    &:after
    {
        content: '';
        border-bottom: 1px solid $bino-white-dark;
        width: 80px;
        height: 3px;
        position: absolute;
    }

    &:before
    {
        left: 22px;
    }

    &:after
    {
        right: 21px;
    }
}

.clear
{
    clear: both;
}

.button
{
    width: 225px;
    padding: 20px 0;
    border-radius: 3px;
    margin-top: 65px;
    cursor: pointer;
    border: 1px solid $bino-white-dark;
    font: 700 14px/14px $open-sans;
    color: $white;
    text-transform: uppercase;

    &:hover
    {
        background-color: $bino-red;
        transition: 0.3s;
        border: none;
    }

    &_offset-right
    {
        margin-right: 30px;
    }

    &_transparent
    {
        background-color: transparent;
    }

    &_red
    {
        border: none;
        background-color: $bino-red;
    }

    &_shadow
    {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    }
}

.anchor
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
}

.arrow
{
    content: '';
    width: 45px;
    height: 45px;
    top: 40%;
    cursor: pointer;
    position: absolute;

    &_left
    {
        background: url("../images/bino/left-arrow.png") no-repeat;
        left: 10px;

        &:hover
        {
            transform: rotate(180deg);
        }
    }

    &_right
    {
        background: url("../images/bino/left-arrow.png") no-repeat;
        transform: rotate(180deg);
        right: 10px;

        &:hover
        {
            transform: rotate(0deg);
        }
    }

    &:hover
    {
        background: url("../images/bino/right-arrow.png") no-repeat;
    }
}

.features
{
    margin-top: 150px;
    text-align: center;
}

.feature-item
{
    cursor: pointer;
    position: relative;
    margin-bottom: 110px;

    &:hover
    {
        .feature-item__title
        {
            color: $bino-red;
        }

        .feature-item__image
        {
            transform: rotate(45deg);
            border-color: $bino-red;
            transition-duration: .3s;
        }
    }

    &__title
    {
        font: 700 18px/1.2 $open-sans;
        letter-spacing: 1.6px;
        color: $bino-grey-dark;
        text-transform: uppercase;
        margin: 10px 0 30px;
        position: relative;

        &:after
        {
            border-bottom: 0.5px solid $bino-grey-dark;
            display: inline-block;
            content: "";
            width: 40px;
            height: 1px;
            background-color: $bino-grey-dark;
            position: absolute;
            top: 50px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    &__image
    {
        width: 70px;
        height: 70px;
        display: inline-block;
        border: 1px solid $bino-white-dark;
        border-radius: 1px;
        transition-duration: .3s;
    }


    &__icon
    {
        width: 70px;
        height: 71px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;

        &_clean-code
        {
            background: url("../images/bino/icon/clean-code.png") no-repeat center;
        }
        &_creative-ideas
        {
            background: url("../images/bino/icon/creative-ideas.png") no-repeat center;
        }
        &_free-support
        {
            background: url("../images/bino/icon/free-support.png") no-repeat center;
        }
        &_sleek-design
        {
            background: url("../images/bino/icon/sleek-design.png") no-repeat center;
        }
    }

    &__text
    {
        font: 300 12px/1.667 $source-sans;
        color: $bino-grey;
        letter-spacing: 0.6px;
    }
}

.our-history
{
    margin-top: 140px;

    &__image
    {
        width: 93%;
    }

    &__text-block
    {
        margin-bottom: 145px;


    }

    &__text
     {
         font: 400 14px/2.071 $source-sans;
         letter-spacing: 0.2px;
         color: $bino-grey;
         text-align: left;
         margin-bottom: 45px;
     }

    &__title
    {
        margin-bottom: 50px;
        text-align: left;
        color: $bino-grey-dark;
        margin-top: 0;
        letter-spacing: 3.6px;
        text-transform: uppercase;
    }

    &__button
    {
        float: left;
        margin-top: 0;
    }
}

.our_services
{
    background: $bino-black url("../images/bino/our-service-background.png") no-repeat;
    background-position: right;
    background-size: 45% 100%;
    padding-top: 100px;
    padding-bottom: 100px;

    &__text_block
    {
        margin-bottom: 145px;

        &_item
        {
            position: relative;

            .web-design:after
            {
                position: absolute;
                content: '';
                display: inline-block;
                width: 80px;
                height: 80px;
                right: -140px;
                top: 15px;
                background: url("../images/bino/icon/web-design.png") no-repeat;
            }

            .print-design:after
            {
                position: absolute;
                content: '';
                display: inline-block;
                width: 80px;
                height: 80px;
                right: -140px;
                top: 15px;
                background: url("../images/bino/icon/print-design.png") no-repeat;
            }

            .photography:after
            {
                position: absolute;
                content: '';
                display: inline-block;
                width: 80px;
                height: 80px;
                right: -140px;
                top: 15px;
                background: url("../images/bino/icon/photography.png") no-repeat;
            }

            &_title
            {
                font: 18px/1.611 $open-sans;
                color: $bino-red;
                text-align: right;
                text-transform: uppercase;
            }

            &_text
            {
                font: 400 14px/2.071 $source-sans;
                color: $bino-grey;
                text-align: right;
                margin-bottom: 45px;
            }
        }

        &_title
        {
            margin-bottom: 50px;
            text-align: right;
            color: $bino-white;
            margin-top: 0;
            letter-spacing: 3.6px;
        }

        &_button
        {
            float: left;
            margin-top: 0;
        }
    }
}

.outline
{
    border-bottom: 1px solid $bino-white-dark;
    width: 100%;
}

@media screen and (max-width: 1200px)
{
    .text__list_item
    {
        margin-right: 35px;
    }
}

@media screen and (max-width: 991px)
{
    .top__content
    {
        margin-top: 80px;
    }
}

@media screen and (max-width: 767px)
{
    .text__list_item
    {
        margin-right: 22px;
    }
}